about-time==4.2.1
absl-py==1.4.0
accelerate==1.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
airportsdata==20250224
alabaster==1.0.0
alive-progress==3.2.0
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.6.0
argbind==0.3.9
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
autograd==1.7.0
awkward==2.6.9
awkward_cpp==39
babel==2.16.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache==2.0.0
bangla==0.0.2
beartype==0.18.5
beautifulsoup4==4.12.3
bitsandbytes==0.44.1
blake3==1.0.4
bleach==6.1.0
blinker==1.9.0
blis==1.2.0
blosc2==2.0.0
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boost-histogram==1.5.0
Brotli==1.1.0
cachetools==5.2.1
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi==1.17.1
charset-normalizer==3.0.1
chex==0.1.86
click==8.1.7
cloudpathlib==0.21.0
cloudpickle==3.1.0
cma==3.2.2
coffea==2024.10.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
compressed-tensors==0.9.1
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
correctionlib==2.6.4
cramjam==2.9.0
cuda-bindings==12.8.0
cuda-python==12.8.0
cupy-cuda12x==13.4.0
cycler==0.12.1
cymem==2.0.11
Cython==3.0.11
dask==2024.10.0
dask-awkward==2024.9.0
dask-histogram==2024.9.1
datasets==3.3.2
dateparser==1.1.8
debugpy @ file:///home/builder/ci_310/debugpy_1640789504635/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepspeed==0.16.4
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
descript-audio-codec==1.0.0
descript-audiotools @ git+https://github.com/descriptinc/audiotools@348ebf2034ce24e2a91a553e3171cb00c0c71678
device-smi==0.4.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dm-tree==0.1.8
dnspython==2.7.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
einops==0.8.1
email_validator==2.2.0
emlp @ git+https://github.com/mfinzi/equivariant-MLP.git@b80815bd4c1ca52b37f3dacc0874e70fdd7b413f
encodec==0.1.1
EnergyFlow==1.4.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908313000/work
etils==1.9.4
evaluate==0.4.3
exceptiongroup==1.2.2
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.115.11
fastapi-cli==0.0.7
fastjsonschema==2.17.1
fastrlock==0.8.3
ffmpy==0.5.0
filelock==3.17.0
fire==0.7.0
Flask==3.1.0
flatbuffers==23.1.4
flatten-dict==0.4.2
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.9.0
fsspec_xrootd==0.4.0
future==1.0.0
g2pkk==0.1.2
gast==0.4.0
gevent==24.11.1
geventhttpclient==2.3.3
gguf==0.10.0
gin-config==0.5.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gptqmodel==2.0.0+cu121torch2.4
grapheme==0.6.0
greenlet==3.1.1
grpcio==1.67.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gym==0.23.0
gym-notices==0.0.8
h11==0.14.0
h5py==3.7.0
hangul-romanize==0.1.0
hf_transfer==0.1.9
hist==2.8.0
histoprint==2.5.0
hjson==3.1.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.29.2
humanfriendly==10.0
idna==3.4
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.5.2
indic-nlp-library-IT2 @ git+https://github.com/VarunGumma/indic_nlp_library@601521e05ed0ed8f2165ac317a47d186e25b6f0d
indic-transliteration==2.3.69
-e git+https://github.com/VarunGumma/IndicTransToolkit.git@0c607654e8b6cce897a32039df79018a1daff4e2#egg=IndicTransToolkit
inflect==7.5.0
iniconfig==2.0.0
interegular==0.3.3
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1674681422581/work
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jamo==0.4.1
jax==0.4.33
jax-cuda12-pjrt==0.4.33
jax-cuda12-plugin==0.4.33
jaxlib==0.4.33
jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
jetnet==0.2.5
jieba==0.42.1
Jinja2==3.1.6
jiter==0.8.2
joblib==1.4.2
json5==0.9.25
jsonlines==1.2.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jstyleson==0.0.2
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-http-over-ws==0.0.8
jupyter-lsp==2.2.5
jupyter_client @ file:///croot/jupyter_client_1671703053786/work
jupyter_core @ file:///croot/jupyter_core_1672332224593/work
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.11.0
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
lark==1.2.2
lazy_loader==0.4
libclang==15.0.6.1
librosa==0.10.0
llvmlite==0.43.0
lm-format-enforcer==0.10.11
locket==1.0.0
logbar==0.0.3
lxml==5.3.0
lz4==4.3.3
marisa-trie==1.2.1
Markdown==3.4.1
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==2.1.2
matplotlib==3.8.4
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
mistral_common==1.5.3
mistune==3.0.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml-dtypes==0.4.0
mock==5.1.0
more-itertools==10.6.0
Morfessor==2.0.6
mosestokenizer==1.2.1
mpi4py==4.0.3
mplhep==0.3.54
mplhep_data==0.0.4
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==2.8.8
ninja==1.11.1.3
nltk==3.9.1
nncf==2.15.0
notebook==7.2.2
notebook_shim==0.2.4
num2words==0.5.14
numba==0.60.0
numexpr @ file:///croot/numexpr_1730215937391/work
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvcc-cu12==12.6.68
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
nvidia-pyindex==1.0.9
nvidia-tensorrt==99.0.0
oauthlib==3.2.2
objax==1.8.0
onnx==1.17.0
onnxruntime==1.20.1
openai==1.65.4
opencv-python-headless==4.11.0.86
openfile==0.0.7
openvino==2025.0.0
openvino-dev==2024.6.0
openvino-telemetry==2025.0.1
openvino-tokenizers==2025.0.0.0
opt-einsum==3.3.0
optax==0.2.3
optimum==1.24.0
optimum-intel==1.22.0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.2
pandas==1.5.3
pandocfilters==1.5.1
parameterized==0.9.0
parler_tts @ git+https://github.com/huggingface/parler-tts.git@d108732cd57788ec86bc857d99a6cabd66663d68
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.2
partial-json-parser==0.2.1.1.post5
peft==0.14.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==11.1.0
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
pluggy==1.5.0
plum-dispatch==2.5.2
pooch==1.8.2
portalocker==3.0.0
preshed==3.0.9
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.0
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
propcache==0.2.0
protobuf==5.29.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///croot/py-cpuinfo_1698068081650/work
pyarrow==18.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.13.6
pycountry==24.6.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydot==2.0.0
pydub==0.25.1
pygame==2.1.0
Pygments==2.18.0
pyloudnorm==0.1.1
pymoo==0.6.1.3
pynndescent==0.5.13
pyparsing==3.1.4
pypinyin==0.53.0
pysbd==0.3.4
pystoi==0.4.1
pytest==8.3.3
python-crfsuite==0.9.11
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-rapidjson==1.20
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
randomname==0.2.1
ray==2.40.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rich-toolkit==0.13.2
roman==5.0
rpds-py==0.20.0
rsa==4.9
sacrebleu==2.4.3
sacremoses==0.1.1
safetensors==0.5.3
scikit-learn==1.5.2
scipy==1.11.4
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
shellingham==1.5.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
skrutable==2.0.7
smart-open==7.1.0
sniffio==1.3.1
snowballstemmer==2.2.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==8.1.3
sphinx-argparse==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srsly==2.5.1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.46.0
SudachiDict-core==20250129
SudachiPy==0.6.10
sympy==1.13.1
tables @ file:///croot/pytables_1685123207389/work
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-probability==0.19.0
tensorrt==10.8.0.43
tensorrt_cu12==10.8.0.43
tensorrt_cu12_bindings==10.8.0.43
tensorrt_cu12_libs==10.8.0.43
termcolor==2.2.0
terminado==0.18.1
tf-agents==0.15.0
thinc==8.3.4
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.3.0
tokenicer==0.0.4
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
toolwrapper==2.1.0
toolz==0.12.1
torch==2.5.1
torch-stoi==0.2.3
torchaudio==2.5.1
torchvision==0.20.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.67.1
trainer==0.0.36
traitlets @ file:///croot/traitlets_1671143879854/work
transformers==4.49.0
triton==3.1.0
tritonclient==2.55.0
TTS==0.22.0
typeguard==4.4.2
typer==0.15.2
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
uctools==1.3.0
uhi==0.5.0
umap-learn==0.5.7
Unidecode==1.3.8
uproot==5.4.1
uri-template==1.3.0
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
vector==1.5.2
vllm==0.7.3
wasabi==1.1.3
wasserstein==1.1.0
watchfiles==1.0.4
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.14.1
wurlitzer==3.1.1
xformers==0.0.28.post3
xgrammar==0.1.11
xxhash==3.5.0
yarl==1.17.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
